* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: rgb(116, 114, 114);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 100%;
  position: relative;
  overflow: auto;
}

.input {
  width: 100%;
  padding: 18px;
  border: none;
  outline: none;
  font-style: italic;
  font-size: 18px;
}

.todoItems div {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.todoItems ul {
  list-style-type: none;
}

.todoItems li {
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  padding: 20px;
}

.remove_button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 12px 0;
  font-style: italic;
  color: #393838;
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
}

.buttom_form {
  background-color: #fff;
  border: 1px hidden;
  margin-right: 10px;
}

.clear {
  text-align: center;
  background: lightgray;
  padding: 12px;
}

.checkBox {
  margin-left: 30px;
  margin-right: 10px;
}

.dots {
  position: absolute;
  right: 15px;
  color: #2e2d2d;
}

.checkBox.strike {
  text-decoration: underline;
}

.newInput {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 20px;
}

.add.done {
  text-decoration: line-through;
}
